@import "../../styling/colors";
.home__wrap {
  background-color: $bg;
  width: 100vw;
  height: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .home__content {
    // height: 50vh;
    margin-top: 2%;
    color: white;
    font-family: Helvetica;
    font-weight: lighter;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .logo-img {
      width: 250px;
      height: 250px;
    }
    .timer__wrap {
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      .timer__visual {
        background-color: $plant-bg;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        justify-self: flex-start;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        img {
          width: 130px;
          justify-self: center;
          margin-bottom: 10px;
          user-select: none;
          -webkit-user-drag: none;
        }
      }
      .timer__numbers {
        width: 400px;
        font-family: Helvetica;
        font-size: 40pt;
        font-weight: lighter;

        display: flex;
        flex-direction: row;

        justify-content: center;
        align-items: center;
        user-select: none;

        .add-remove__time {
          margin-left: 20px;

          display: flex;
          flex-direction: column;

          svg {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }
      }
      .start_navigation_block {
        margin-top: 1%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .start__button {
          flex: 0.5;
          padding: 5px;
          border-radius: 5px;
          font-size: 13pt;
          user-select: none;
          border-color: #f5ff80;
          margin: 5px;

          background-color: #f5ff80;
          color: rgb(0, 0, 0);
          font-weight: normal;
          border: none;
          padding-left: 10px;
          padding-right: 10px;

          &:disabled {
            color: grey;
            cursor: not-allowed;
          }
        }
        .navigation__button {
          flex: 0.5;
          padding: 5px;
          border-radius: 5px;
          font-size: 13pt;
          user-select: none;
          border-color: #f5ff80;
          margin: 5px;

          background-color: #f5ff80;
          color: rgb(0, 0, 0);
          font-weight: normal;
          border: none;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
      .give-up__button {
        border: 1px solid white;
        padding: 5px;
        border-radius: 5px;
        font-size: 11pt;
        user-select: none;
      }
      .tags__buttons {
        margin-top: 10%;
        .tags__section {
          .tags__only {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .tags__button {
              padding: 5px;
              border-radius: 5px;
              font-size: 13pt;
              user-select: none;
              border-color: #f5ff80;
              margin: 5px;

              background-color: #f5ff80;
              color: rgb(0, 0, 0);
              font-weight: normal;
              border: none;
              padding-left: 10px;
              padding-right: 10px;

              &:disabled {
                color: grey;
                cursor: not-allowed;
              }
            }
          }
          .tags__info {
            text-align: center;
            font-size: small;
          }
        }
      }
    }
  }
}
